entrypoint = "src/App.vue"
modules = ["vue-node-20", "nodejs-20"]

[nix]
channel = "stable-23_11"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5173
externalPort = 80

[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]
